* {
  box-sizing: border-box;
  font: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

//buttons{
button,
.button {
  padding: 0.7rem 1.5rem;
  border-radius: 25px;
  border: 0rem;
  color: white;
  background-image: linear-gradient(
    to left,
    rgba(77, 39, 245, 0),
    rgb(57, 12, 255)
  );
  cursor: pointer;
}

body {
  margin-left: 6rem;
  margin-right: 6rem;

  @include for-mobile {
    margin: 1rem;
  }
}

//visibility
.hide-for-mobile {
  @include for-mobile {
    display: none;
  }
}

.hide-for-desktop {
  @include for-desktop {
    display: none;
  }
}
