.header {
  background-color: rgb(217, 198, 247);

  img {
    background-repeat: no-repeat;
    height: 600px;
    background-position: right;
    margin: 0px;

    @include for-mobile {
      width: 317px;
      height: 460px;
    }
  }

  .nav {
    overflow: hidden;
    font-family: "Alata", sans-serif;
    position: relative;
  }

  &__mlinks {
    padding: 1.5rem;
    width: 236px;

    display: flex;

    margin-left: 2rem;
  }
  &__links {
    padding: 1.5rem;
    width: 236px;

    display: flex;

    margin-left: 2rem;
  }

  a,
  a:visited,
  a:hover {
    display: inline-block;
    align-items: center;
    color: $Black;
    text-decoration: none;
    font-weight: 900;

    &:not(:last-child) {
      padding-right: 5rem;
    }
  }

  a:hover {
    text-decoration: underline;
    color: rgb(70, 30, 245);
  }

  a.active {
    color: rgb(70, 30, 245);
  }

  &__hamburger {
    padding: 1.5rem;

    > span {
      display: block;
      height: 1px;
      width: 25px;
      position: static;

      background-color: $Black;

      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &:hover {
      background-color: rgb(181, 167, 245);
      color: black;
    }
  }

  &__details {
    font-family: "PT Serif", serif;
    font-size: 30px;
    padding: 4rem;

    > h3 > span {
      color: rgb(88, 6, 241);
    }

    > p {
      font-size: 1.5rem;
      font-family: "Lora", serif;
    }

    @include for-mobile {
      padding: 1.5rem;
      text-align: center;
    }
  }

  &__menu {
    background: white;
    padding: 1.6rem;

    a {
      display: block;
      padding: 0.6rem;
      color: rgb(88, 6, 241);
      text-align: center;
    }
  }

  &__flex {
    display: flex;
    justify-content: space-between;

    @include for-mobile {
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
    }
  }

  #btnhamburger {
    display: none;
  }
} // end of header
